{# {{ form_start(form) }}
    {{ form_widget(form) }}
     <button class="btn">{{ button_label|default('Save') }}</button> 
{{ form_end(form) }} #}


{#  <div class="input-field">
        <input type="text">
        <label>Prénom</label>
        <div class="form-error"></div>
    </div>
    <div class="input-field">
        <input type="text">
        <label>Nom</label>
        <div class="form-error"></div>
    </div>
    <div class="input-field">
        <input type="text">
        <label>Adresse</label>
        <div class="form-error"></div>
    </div>
    <div class="input-field">
        <input type="text">
        <label>Complément adr.</label>
        <div class="form-error"></div>
    </div>
    <div class="input-field">
        <input type="text">
        <label>Ville</label>
        <div class="form-error"></div>
    </div>
    <div class="input-field">
        <input type="text">
        <label>Code postal</label>
        <div class="form-error"></div>
    </div>
    <div class="input-field">
        <select>
            <option>France</option>
        </select>
        <label>Pays</label>
        <div class="form-error"></div>
    </div>
    <div class="input-field">
        <input type="text">
        <label>Téléphone</label>
        <div class="form-error"></div>
    </div> #}